* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #1B4018;
  --secondary-color: #303F09;
  --tertiary-color: #FFD753;
  --quaternary-color: #FFF6E9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}



.contact-list {
  display: flex;
  flex-direction: column;
}